RCversion: 3
include: "RevSpark.rch"

 ///// REVSpark Class Definition /////
 class: RevSpark
genericType: RevSpark
passAttributeError: none
className: RevSpark
flags: 0



attribute:  CANID	
    "Basic Configuration:CAN Id"
	uL	readwrite	29	  0
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  InputMode	
    "Basic Configuration:Input Mode"
	uL	readwrite	29	  1
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MotorType	
    "Basic Configuration:Motor Type"
	uL	readwrite	29	  2
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  CommutationAdvance	
    "Basic Configuration:Commutation Advance"
	uL	readwrite	29	  3
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  ControlType	
    "PID COntrol Configuration:Control Type"
	uL	readwrite	29	  5
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  IdleMode	
    "Basic Configuration:Idle Mode"
	uL	readwrite	29	  6
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  InputDeadband	
    "Basic Configuration:Input Deadband"
	uL	readwrite	29	  7
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  ClosedLoopControlSensor	
    "Basic Configuration:Closed Loop Control Sensor"
	uL	readwrite	29	  9
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  PolePairs	
    "Basic Configuration:Pole Pairs"
	uL	readwrite	29	  A
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  CurrentChop	
    "Basic Configuration:Current Chop"
	uL	readwrite	29	  B
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  CurrentChopCycles	
    "Basic Configuration:Current Chop Cycles"
	uL	readwrite	29	  C
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  P_0	
    "Basic Configuration:P_0"
	uL	readwrite	29	  D
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  I_0	
    "Basic Configuration:CAN I_0"
	uL	readwrite	29	  E
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  D_0	
    "Basic Configuration:D_0"
	uL	readwrite	29	  F
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  V_0	
    "Basic Configuration:V_0"
	uL	readwrite	29	  10
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  IZone_0	
    "Basic Configuration:IZone_0"
	uL	readwrite	29	  11
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  DFilter_0	
    "Basic Configuration:DFilter_0"
	uL	readwrite	29	  12
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  OutputMin_0	
    "Basic Configuration:Output Min_0"
	uL	readwrite	29	  13
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  OutputMax_0	
    "Basic Configuration:Output Max_0"
	uL	readwrite	29	  14
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  P_1	
    "Basic Configuration:P_1"
	uL	readwrite	29	  15
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  I_1	
    "Basic Configuration:I_1"
	uL	readwrite	29	  16
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  D_1	
    "Basic Configuration:D_1"
	uL	readwrite	29	  17
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  V_1	
    "Basic Configuration:V_1"
	uL	readwrite	29	  18
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  IZone_1	
    "Basic Configuration:IZone_1"
	uL	readwrite	29	  19
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  DFilter_1	
    "Basic Configuration:DFilter_1"
	uL	readwrite	29	  1A
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  OutputMin_1	
    "Basic Configuration:Output Min_1"
	uL	readwrite	29	  1B
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  OutputMax_1	
    "Basic Configuration:Output Max_1"
	uL	readwrite	29	  1C
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  P_2	
    "Basic Configuration:P_2"
	uL	readwrite	29	  1D
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  I_2	
    "Basic Configuration:I_2"
	uL	readwrite	29	  1E
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  D_2	
    "Basic Configuration:D_2"
	uL	readwrite	29	  1F
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  V_2	
    "Basic Configuration:V_2"
	uL	readwrite	29	  20
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  IZone_2	
    "Basic Configuration:IZone_2"
	uL	readwrite	29	  21
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  DFilter_2	
    "Basic Configuration:DFilter_2"
	uL	readwrite	29	  22
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  OutputMin_2	
    "Basic Configuration:Output Min_2"
	uL	readwrite	29	  23
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  OutputMax_2	
    "Basic Configuration:Output Max_2"
	uL	readwrite	29	  24
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  P_3	
    "Basic Configuration:P_3"
	uL	readwrite	29	  25
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  I_3	
    "Basic Configuration:I_3"
	uL	readwrite	29	  26
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  D_3	
    "Basic Configuration:D_3"
	uL	readwrite	29	  27
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  V_3	
    "Basic Configuration:V_3"
	uL	readwrite	29	  28
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  IZone_3	
    "Basic Configuration:IZone_3"
	uL	readwrite	29	  29
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  DFilter_3	
    "Basic Configuration:DFilter_3"
	uL	readwrite	29	  2A
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  OutputMin_3	
    "Basic Configuration:Output Min_3"
	uL	readwrite	29	  2B
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  OutputMax_3	
    "Basic Configuration:Output Max_3"
	uL	readwrite	29	  2C
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  Inverted	
    "Basic Configuration:Inverted"
	uL	readwrite	29	  2D
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  LimitSwitchFwdPolarity	
    "Basic Configuration:Limit Switch Fwd Polarity"
	uL	readwrite	29	  32
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  LimitSwitchRevPolarity	
    "Basic Configuration:Limit Switch Rev Polarity"
	uL	readwrite	29	  33
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  HardLimitFwdEn	
    "Basic Configuration:Hard Limit Fwd Enable"
	uL	readwrite	29	  34
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  HardLimitRevEn	
    "Basic Configuration:Hard Limit Rev Enable"
	uL	readwrite	29	  35
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  SoftLimitFwdEn	
    "Basic Configuration:Soft Limit Fwd Enable"
	uL	readwrite	29	  36
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  SoftLimitRevEn	
    "Basic Configuration:Soft Limit Rev Enable"
	uL	readwrite	29	  37
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  OpenLoopRampRate	
    "Basic Configuration:Open Loop Ramp Rate"
	uL	readwrite	29	  38
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  LegacyFollowerID	
    "Basic Configuration:Legacy Follower ID"
	uL	readwrite	29	  39
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  LegacyFollowerConfig	
    "Basic Configuration:Legacy Follower Config"
	uL	readwrite	29	  3A
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  SmartCurrentStallLimit	
    "Basic Configuration:Smart Current Stall Limit"
	uL	readwrite	29	  3B
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  SmartCurrentFreeLimit	
    "Basic Configuration:Smart Current Free Limit"
	uL	readwrite	29	  3C
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  SmartCurrentConfig	
    "Basic Configuration:Smart Current Config"
	uL	readwrite	29	  3D
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  SmartCurrentReserved	
    "Basic Configuration:Smart Current Reserved"
	uL	readwrite	29	  3E
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MotorKv	
    "Basic Configuration:Motor Kv"
	uL	readwrite	29	  3F
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  EncoderCountsPerRev	
    "Basic Configuration:Encoder Counts Per Rev"
	uL	readwrite	29	  45
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  EncoderAverageDepth	
    "Basic Configuration:Encoder Average Depth"
	uL	readwrite	29	  46
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  EncoderSampleDelta	
    "Basic Configuration:Encoder Sample Delta"
	uL	readwrite	29	  47
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  EncoderInverted	
    "Basic Configuration:Encoder Inverted"
	uL	readwrite	29	  48
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  VoltageCompensationMode	
    "Basic Configuration:Voltage Compensation Mode"
	uL	readwrite	29	  4A
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  CompensatedNominalVoltage	
    "Basic Configuration:Compensated Nominal Voltage"
	uL	readwrite	29	  4B
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  IMaxAccum_0	
    "Basic Configuration:IMaxAccum_0"
	uL	readwrite	29	  60
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  AllowedClosedLoopError_0	
    "More Configuration:Allowed Closed Loop Error_0"
	uL	readwrite	29	  61
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  IMaxAccum_1	
    "Basic Configuration:IMaxAccum_1"
	uL	readwrite	29	  64
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  AllowedClosedLoopError_1	
    "Basic Configuration:Allowed Closed Loop Error_1"
	uL	readwrite	29	  65
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"


attribute:  IMaxAccum_2	
    "Basic Configuration:IMaxAccum_2"
	uL	readwrite	29	  68
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  AllowedClosedLoopError_2	
    "Basic Configuration:Allowed Closed Loop Error_2"
	uL	readwrite	29	  69
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  IMaxAccum_3	
    "Basic Configuration:IMaxAccum_3"
	uL	readwrite	29	  6C
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  AllowedClosedLoopError_3	
    "Basic Configuration:Allowed Closed Loop Error_3"
	uL	readwrite	29	  6D
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  ClosedLoopRampRate	
    "Basic Configuration:Closed Loop Ramp Rate"
	uL	readwrite	29	  72
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  SoftLimitForward	
    "Basic Configuration:Soft Limit Forward"
	uL	readwrite	29	  73
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  SoftLimitReverse	
    "Basic Configuration:Soft Limit Reverse"
	uL	readwrite	29	  74
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  AnalogAverageDepth	
    "Basic Configuration:Analog Average Depth"
	uL	readwrite	29	  79
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  AnalogSensorMode	
    "Basic Configuration:Analog Sensor Mode"
	uL	readwrite	29	  7A
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  AnalogInverted	
    "Basic Configuration:Analog Inverted"
	uL	readwrite	29	  7B
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  AnalogSampleDelta	
    "Basic Configuration:Analog Sample Delta"
	uL	readwrite	29	  7C
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  CompatibilityPortConfig	
    "Basic Configuration:Compatibility Port Config"
	uL	readwrite	29	  7F
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  AltEncoderCountsPerRev	
    "Basic Configuration:Alt Encoder Counts Per Rev"
	uL	readwrite	29	  80
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  AltEncoderAverageDepth	
    "Basic Configuration:Alt Encoder Average Depth"
	uL	readwrite	29	  81
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  AltEncoderSampleDelta	
    "Basic Configuration:Alt Encoder Sample Delta"
	uL	readwrite	29	  82
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  AltEncoderInverted	
    "Basic Configuration:Alt Encoder Inverted"
	uL	readwrite	29	  83
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  NumParameters	
    "Basic Configuration:Num Parameters"
	uL	readwrite	29	  8A
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  DutyCycleInverted	
    "Basic Configuration:Duty Cycle Inverted"
	uL	readwrite	29	  8D
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  DutyCycleAverageDepth	
    "Basic Configuration:Duty Cycle Average Depth"
	uL	readwrite	29	  8F
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  DutyCycleOffsetLegacy	
    "Basic Configuration:Duty Cycle Offset Legacy"
	uL	readwrite	29	  91
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  DutyCycleRangeOffset	
    "Basic Configuration:Duty Cycle Range Offset"
	uL	readwrite	29	  92
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  PositionPIDWrapEnable	
    "Basic Configuration:Position PID Wrap Enable"
	uL	readwrite	29	  95
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  DutyCycleSensorPrescaler	
    "Basic Configuration:Duty Cycle Sensor Prescaler"
	uL	readwrite	29	  99
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  DutyCycleOffset	
    "Basic Configuration:Duty Cycle Offset"
	uL	readwrite	29	  9A
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  ProductId	
    "Basic Configuration:Product Id"
	uL	readwrite	29	  9B
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  DeviceMajorVersion	
    "Basic Configuration:Device Major Version"
	uL	readwrite	29	  9C
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  DeviceMinorVersion	
    "Basic Configuration:Device Minor Version"
	uL	readwrite	29	  9D
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  Status0Period	
    "Basic Configuration:Status 0 Period"
	uL	readwrite	29	  9E
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  Status1Period	
    "Basic Configuration:Status 1 Period"
	uL	readwrite	29	  9F
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  Status2Period	
    "Basic Configuration:Status 2 Period"
	uL	readwrite	29	  A0
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  Status3Period	
    "Basic Configuration:Status 3 Period"
	uL	readwrite	29	  A1
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  Status4Period	
    "Basic Configuration:Status 4 Period"
	uL	readwrite	29	  A2
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  Status5Period	
    "Basic Configuration:Status 5 Period"
	uL	readwrite	29	  A3
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  Status6Period	
    "Basic Configuration:Status 6 Period"
	uL	readwrite	29	  A4
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  Status7Period	
    "Basic Configuration:Status 7 Period"
	uL	readwrite	29	  A5
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionCruiseVelocity_0	
    "Basic Configuration:MAXMotion Cruise Velocity_0"
	uL	readwrite	29	  A6
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionMaxAccel_0	
    "Basic Configuration:MAXMotion Max Accel_0"
	uL	readwrite	29	  A7
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionMaxJerk_0	
    "Basic Configuration:MAXMotion Max Jerk_0"
	uL	readwrite	29	  A8
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionAllowedProfileError_0	
    "Basic Configuration:MAXMotion Allowed Profile Error_0"
	uL	readwrite	29	  A9
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionPositionMode_0	
    "Basic Configuration:MAXMotion Position Mode_0"
	uL	readwrite	29	  AA
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionCruiseVelocity_1	
    "Basic Configuration:MAXMotion Cruise Velocity_1"
	uL	readwrite	29	  AB
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionMaxAccel_1	
    "Basic Configuration:MAXMotion Max Accel_1"
	uL	readwrite	29	  AC
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionMaxJerk_1	
    "Basic Configuration:MAXMotion Max Jerk_1"
	uL	readwrite	29	  AD
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionAllowedProfileError_1	
    "Basic Configuration:MAXMotion Allowed Profile Error_1"
	uL	readwrite	29	  AE
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionPositionMode_1	
    "Basic Configuration:MAXMotion Position Mode_1"
	uL	readwrite	29	  AF
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionCruiseVelocity_2	
    "Basic Configuration:MAXMotion Cruise Velocity_2"
	uL	readwrite	29	  B0
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionMaxAccel_2	
    "Basic Configuration:MAXMotion Max Accel_2"
	uL	readwrite	29	  B1
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionMaxJerk_2	
    "Basic Configuration:MAXMotion Max Jerk_2"
	uL	readwrite	29	  B2
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionAllowedProfileError_2	
    "Basic Configuration:MAXMotion Allowed Profile Error_2"
	uL	readwrite	29	  B3
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionPositionMode_2	
    "Basic Configuration:MAXMotion Position Mode_2"
	uL	readwrite	29	  B4
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionCruiseVelocity_3	
    "Basic Configuration:MAXMotion Cruise Velocity_3"
	uL	readwrite	29	  B5
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionMaxAccel_3	
    "Basic Configuration:MAXMotion Max Accel_3"
	uL	readwrite	29	  B6
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionMaxJerk_3	
    "Basic Configuration:MAXMotion Max Jerk_3"
	uL	readwrite	29	  B7
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionAllowedProfileError_3	
    "Basic Configuration:MAXMotion Allowed Profile Error_3"
	uL	readwrite	29	  B8
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  MAXMotionPositionMode_3	
    "Basic Configuration:MAXMotion Position Mode_3"
	uL	readwrite	29	  B9
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  ForceEnableStatus_0	
    "Basic Configuration:Force Enable Status_0"
	uL	readwrite	29	  BA
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  ForceEnableStatus_1	
    "Basic Configuration:Force Enable Status_1"
	uL	readwrite	29	  BB
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  ForceEnableStatus_2	
    "Basic Configuration:Force Enable Status_2"
	uL	readwrite	29	  BC
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  ForceEnableStatus_3	
    "Basic Configuration:Force Enable Status_3"
	uL	readwrite	29	  BD
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  ForceEnableStatus_4	
    "Basic Configuration:Force Enable Status_4"
	uL	readwrite	29	  BE
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  ForceEnableStatus_5	
    "Basic Configuration:Force Enable Status_5"
	uL	readwrite	29	  BF
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  ForceEnableStatus_6	
    "Basic Configuration:Force Enable Status_6"
	uL	readwrite	29	  C0
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  ForceEnableStatus_7	
    "Basic Configuration:Force Enable Status_7"
	uL	readwrite	29	  C1
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  FollowerModeLeaderId	
    "Basic Configuration:Follower Mode Leader Id"
	uL	readwrite	29	  C2
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  FollowerModeIsInverted	
    "Basic Configuration:Follower Mode Is Inverted"
	uL	readwrite	29	  C3
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  DutyCycleEncoderStartPulseUs	
    "Basic Configuration:Duty Cycle Encoder Start Pulse Us"
	uL	readwrite	29	  C4
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  DutyCycleEncoderEndPulseUs	
    "Basic Configuration:Duty Cycle Encoder End Pulse Us"
	uL	readwrite	29	  C5
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  ParamTableVersion	
    "Basic Configuration:Param Table Version"
	uL	readwrite	29	  C6
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  Status8Period	
    "Basic Configuration:Status8 Period"
	uL	readwrite	29	  C7
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  ForceEnableStatus_8	
    "Basic Configuration:Force Enable Status_8"
	uL	readwrite	29	  C8
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  LimitSwitchPositionSensor	
    "Basic Configuration:Limit Switch Position Sensor"
	uL	readwrite	29	  C9
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  LimitSwitchFwdPosition	
    "Basic Configuration:Limit Switch Fwd Position"
	uL	readwrite	29	  CA
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  LimitSwitchRevPosition	
    "Basic Configuration:Limit Switch Rev Position"
	uL	readwrite	29	  CB
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  S_0	
    "Basic Configuration:S_0"
	uL	readwrite	29	  CC
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  A_0	
    "Basic Configuration:A_0"
	uL	readwrite	29	  CD
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  G_0	
    "Basic Configuration:G_0"
	uL	readwrite	29	  CE
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  Cos_0	
    "Basic Configuration:Cos_0"
	uL	readwrite	29	  CF
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  CosRatio_0	
    "Basic Configuration:Cos Ratio_0"
	uL	readwrite	29	  D0
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  S_1	
    "Basic Configuration:S_1"
	uL	readwrite	29	  D1
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  A_1	
    "Basic Configuration:A_1"
	uL	readwrite	29	  D2
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  G_1	
    "Basic Configuration:G_1"
	uL	readwrite	29	  D3
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  Cos_1	
    "Basic Configuration:Cos_1"
	uL	readwrite	29	  D4
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  CosRatio_1	
    "Basic Configuration:Cos Ratio_1"
	uL	readwrite	29	  D5
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  S_2	
    "Basic Configuration:S_2"
	uL	readwrite	29	  D6
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  A_2	
    "Basic Configuration:A_2"
	uL	readwrite	29	  D7
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  G_2	
    "Basic Configuration:G_2"
	uL	readwrite	29	  D8
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  Cos_2	
    "Basic Configuration:Cos_2"
	uL	readwrite	29	  D9
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  CosRatio_2	
    "Basic Configuration:Cos Ratio_2"
	uL	readwrite	29	  DA
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  S_3	
    "Basic Configuration:S_3"
	uL	readwrite	29	  DB
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  A_3	
    "Basic Configuration:A_3"
	uL	readwrite	29	  DC
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  G_3	
    "Basic Configuration:G_3"
	uL	readwrite	29	  DD
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  Cos_3	
    "Basic Configuration:Cos_3"
	uL	readwrite	29	  DE
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  CosRatio_3	
    "Basic Configuration:Cos Ratio_3"
	uL	readwrite	29	  DF
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  Status9Period	
    "Basic Configuration:Status9 Period"
	uL	readwrite	29	  E0
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  ForceEnableStatus_9	
    "Basic Configuration:Force Enable Status_9"
	uL	readwrite	29	  E1
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"

attribute:  DetachedEncoderDeviceID	
    "Basic Configuration:Detached Encoder Device ID"
	uL	readwrite	29	  E2
	"INCOMPLETE"	"REVSpark_Properties.html"	"..\..\help\REVSpark_Reference.chm"